@page "/examen2"
@rendermode InteractiveServer

<PageTitle>Examen 2</PageTitle>
<h3 class="mb-4">Productos</h3>

<EditForm Model="_product" OnValidSubmit="Save" class="mb-5">
    <DataAnnotationsValidator />

    @if(_errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">@_errorMessage</div>
    }

    <div class="mb-3">
        <label class="form-label">Inventario</label>
        <InputNumber @bind-Value="_product.Inv" class="form-control" placeholder="Mayor a 0" />
        <ValidationMessage For="@(() => _product.Inv)" class="text-danger" />
    </div>


    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <InputText @bind-Value="_product.Name" class="form-control" placeholder="Nombre del producto" />
        <ValidationMessage For="@(() => _product.Name)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label class="form-label">Departamento</label>
        <InputRadioGroup @bind-Value="_product.Dep" class="d-block">
            <div class="form-check">
                <InputRadio Value="@( "Frutas" )" class="form-check-input" id="depFrutas" />
                <label class="form-check-label" for="depFrutas">Frutas</label>
            </div>
            <div class="form-check">
                <InputRadio Value="@( "Verduras" )" class="form-check-input" id="depVerduras" />
                <label class="form-check-label" for="depVerduras">Verduras</label>
            </div>
            <div class="form-check">
                <InputRadio Value="@( "Lácteos" )" class="form-check-input" id="depLacteos" />
                <label class="form-check-label" for="depLacteos">Lácteos</label>
            </div>
        </InputRadioGroup>
        <ValidationMessage For="@(() => _product.Dep)" class="text-danger" />
    </div>


    <button type="submit" class="btn btn-primary">
        @if (_state)
        {
            @:Guardar
        }
        else
        {
            @:Agregar
        }
    </button>

</EditForm>

@if(_store != null && _store.Count > 0)
{
    <table class="table">
        <thead class="bg-dark text-light text-center">
            <tr>
                <th scope="col">Inventario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Departamento</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in _store)
            {
                <tr class="text-center">
                    <th scope="row">@product.Inv</th>
                    <td>@product.Name</td>
                    <td>@product.Dep</td>
                    <td>
                        <button type="button" class="btn btn-danger mt-auto" title="Eliminar" @onclick="@(() => Remove(product))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-info mt-auto" title="Editar" @onclick="@(()=> {_product = product; _state = true;})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                            </svg>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product _product = new();
    private List<Product> _store = new();
    private bool _state = false;
    private string _errorMessage = "";

    private void Save()
    {
        if (_store.Any(p => p.Inv == _product.Inv) && _state == false)
        {
            _errorMessage = "El producto con ese inventario ya existe. Por favor, elija un valor único.";
        }
        else
        {
            if (_state == false)
            {
                _store.Add(_product);
            }
            _product = new();
            _errorMessage = string.Empty;
        }
    }


    private void Remove(Product product)
    {
        _store.Remove(product);
    }
}
